.cart {
  height: 550px;
  .empty-order {
    color: brown;
    text-align: center;
    display: inherit;
    padding: 100px;
  }
  .order-wrapper {
    margin-top: 48px;
    .MuiTable-root {
      width: 70%;
    }
  }
  .cart-wrapper {
    padding: 24px 125px;
    .item-cart {
      .MuiCardContent-root {
        padding: 0;
      }
    }
    .total {
      .total-price {
        background-color: #e8e8e8;
      }
    }
  }
  .primary {
    margin: 16px;
    background-color: green;
  }
}
