@import "./variables";

.footer-wrapper {
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  .contact-wrapper {
    padding: 0 125px 0;
    .icon-footer {
      &:hover {
        color: $green;
        cursor: pointer;
      }
    }
  }
}
