.header-wrapper {
  background-color: rgb(5, 5, 19);
  align-items: center;
  .header-control {
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: green;
      }
      &.active {
        color: green;
      }
    }
    .navbar-item {
      width: 100%;
      justify-content: center;
      display: flex;
      .scrollview {
        cursor: pointer;
      }
      .title-header {
        margin: 12px 24px 12px 0;
        font-size: 18px;
        font-weight: 600;
      }
      .icon-cart {
        margin: 12px 24px 12px 0;
      }
    }
  }
}
