.bgImage {
  background-image: url("https://cdn.tgdd.vn/Files/2021/04/15/1343631/tim-hieu-ve-mo-hinh-nuoi-cho-canh-de-lam-giau-tai-viet-nam-202202141429364527.jpg");
  height: 34vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
