.lovelydog {
  .lovelydog-wrapper {
    padding: 24px 125px;
    justify-content: center;
  }
  .MuiCardMedia-root {
    background-position: unset;
  }
  a {
    color: green;
    text-decoration: none;
  }
}
